@CHARSET "UTF-8";

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 15px;
 	border-collapse: collapse;
	position: relative;
	left: 10px;
}

th {
	font-size: 18px;
	font-weight: normal;
	width:auto;
	padding: 8px;
	background: #fe540c;
	border-top: 4px solid #fe4ab5;
	border-bottom: 1px solid #fff;
 }

td {
	font-size: 10px;
	padding: 2px;
	background: #ffaa8b;
	border-bottom: 1px solid #5692ff;
	color: #996043;
	border-top: 1px solid transparent;
}

tr:hover td {
	background: #fd8f95;
	color: #995a41;
}